Methods

1- String Methods

2- List Methods

3- Dictionary Methods

4 -Set Methods

5- Tuple Methods

In [ ]:
# String Methods

# 1- upper
# 2- lower
# 3- title 
# 4 - capitalize
# 5- strip 
# 6 - lstrip
# 8 - rstrip
# 9 - replace
# 10- find 
# 11- index 
# 12 - len
# 13- startswith
# 14 -endswith
# 15- split
# 15- join

ramzan mubarak

In [7]:
# 1 upper
name = "aneeq khatri"
print(name.upper())
print(name.lower())
print(name.capitalize())
print(name.title())
print(len(name))

ANEEQ KHATRI
aneeq khatri
Aneeq khatri
Aneeq Khatri
12

In [8]:
# 2 strips
name = "  aneeq khatri  "
print(name.strip())
print(name.lstrip())
print(name.rstrip())

aneeq khatri
aneeq khatri
  aneeq khatri

In [14]:
value = "ramzan mubarak"
value2= "meet"
print(value.replace("ramzan","eid"))
print(value2.replace("e", "a", 1))
print("find method",value.find("i"))
print("index method", value.index("i"))

eid mubarak
maet
find method -1

ValueError: substring not found

In [ ]:
value = "ramzan mubarak"
print(value.startswith("eid"))
print(value.endswith("mubarak"))
# if  True
if value.startswith("ramzan"):
    print("Ramzan Mubarak")
else:
    print("Eid Mubarak")

False
True
Ramzan Mubarak

In [21]:
value = "jan,feb,mar,apr,may,jun"
print(value.split(","))
list = ['jan', 'feb', 'mar', 'apr', 'may', 'jun']
print(" ".join(list))

['jan', 'feb', 'mar', 'apr', 'may', 'jun']
jan feb mar apr may jun

In [22]:
# List Methods
# 1- append
# 2- insert
# 3- extend
# 4- pop 
# 5- sort 
# 6 - remove 
# 7- reverse
# 8- copy

In [ ]:
list = ['jan', 'feb', 'mar', 'apr', 'may', 'jun']
list.append("july")
print("append",list)
list.insert(0, "dec")
print("insert",list)

append ['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'july']
insert ['dec', 'jan', 'feb', 'mar', 'apr', 'may', 'jun', 'july']

In [ ]:
list = ['jan', 'feb', 'mar', 'apr', 'may', 'jun']
removed_item = list.pop("")  
print("removed_item>>>",removed_item)

TypeError: 'str' object cannot be interpreted as an integer

In [30]:
list1 = ['jan', 'feb', 'mar', 'apr', 'may', 'jun']
list2 = ['jul', 'aug', 'sep', 'oct', 'nov', 'dec']

list1.extend(list2)
print("list1>>",list1)

list3 = list1 + list2
print("list3>>>",list3)

list1>> ['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec']
list3>>> ['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec']

In [ ]:
list = [5,8,9,0,1,2,3]
list.sort()
# print("sort asc",list)
list.sort(reverse=True)
print("sort desc",list)
list.reverse()
print("reversed",list)

sort desc [9, 8, 5, 3, 2, 1, 0]
reversed [0, 1, 2, 3, 5, 8, 9]

In [37]:
list = [5,8,9,0,1,2,3]

list.remove(1)
print("list>>",list)

list>> [5, 8, 9, 0, 2, 3]

In [ ]:
list = [5,8,9,0,1,2,3]

list2 = list.copy()
print("list>>",list2)
#        list[start: end, step]  -> (start(inclusive), end(exclusive))
# list3  = list[0:7]
list3  = list[0:7:2]

print("list3>>>",list3)

list>> [5, 8, 9, 0, 1, 2, 3]
list3>>> [5, 9, 1, 3]

In [ ]:
# Dictionary Methods
# update
# pop 
# popitem 
# get 
# keys
# values 
# items 
# del

In [46]:
# Dictionary Methods
student= {"name": "Ali","age": 20}

student.update({"roll no": 1234})
print(" updated student",student)


print("pop>>",student.pop("age"))
print("popitem>>",student.popitem())

 updated student {'name': 'Ali', 'age': 20, 'roll no': 1234}
pop>> 20
popitem>> ('roll no', 1234)

In [ ]:
student= {"name": "Ali","age": 20}

print("keys",student.keys())
print("values",student.values())
print("items",student.items())
#   ('name', 'Ali') [('name', 'Ali'), ('age', 20)]
for tup in student.items():
    # print("tuple>>>",t)
    # const {a,b} = {a,b,c}
    a,b = tup
    # name, Ali =('name', 'Ali')
    a,b = tup
    print("a",a)
    print("b",b)

    # print(f"item key:{k} and value:{value}")

keys dict_keys(['name', 'age'])
values dict_values(['Ali', 20])
items dict_items([('name', 'Ali'), ('age', 20)])
a name
b Ali
a age
b 20