<a href="https://colab.research.google.com/github/Muhammad-Aneeq/GIAIC-Quarter3-Python/blob/main/Class03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1- Error handling

2- Short hand If Else / Ternary

3- Higher Order Functions

4- Lambda Functions

5- Recursion

6- Enumarated

In [ ]:
dishes = ["samose", "pakore", "fruit chat"]

print(dishes[4])

print("work done")

IndexError: list index out of range

In [ ]:
dishes = ["samose", "pakore", "fruit chat"]

try:
  print(dishes[4])
except:
  print("dish not found")

print("work done")

dish not found
work done

In [ ]:
dishes = ["samose", "pakore", "fruit chat"]

try:
  print(dishes[4])
except Exception as error:
  print(f"Exception: {Exception}")
  print(f"error is {error}")

print("work done")

Exception: <class 'Exception'>
error is list index out of range
work done

In [ ]:
num = 10
try:
  print(num/0)
except ZeroDivisionError:
    print("can't divide by zero")

print("work done")

can't divide by zero
work done

In [ ]:
dishes = ["samose", "pakore", "fruit chat"]

try:
  print(dishes[4])
except ZeroDivisionError:
  print("zerio division error")
except Exception as error:
  print(f"Exception: {Exception}")
  print("something went wrong")


print("work done")

Exception: <class 'Exception'>
something went wrong
work done

In [ ]:

isRaining = True

if isRaining:
  print("school ki chutti")
else:
  print("chalo shaba school!")

school ki chutti

In [ ]:
isRaining = True
# if condition:
#   if statement

# else:
#  else statement

# ifstatement if condition else elsestatement
print("school ki chutti") if isRaining else print("chalo shaba school!")

num = 5

num2 = 10 if num <= 5 else 20
print(num2)

SyntaxError: expected 'else' after 'if' expression (<ipython-input-19-3d545030c44b>, line 9)

In [ ]:
isRaining = False

if isRaining:
  print("school ki chutti")

In [ ]:
# Higher Order Function
numbers = [1,2,3,4,5]
new_list = []
def squre(num):
   return num*num
for num in numbers:
  sqr_num = squre(num)
  new_list.append(sqr_num)

print(new_list)

[1, 4, 9, 16, 25]

In [ ]:
numbers = [1,2,3,4,5]
def squre(num):
   return num*num
sqr_list = list(map(squre,numbers))
print(sqr_list)

[1, 4, 9, 16, 25]

In [ ]:
numbers = [1,2,3,4,5]
def filter_condtion(num):
     return num > 3
filter_list = list(filter(filter_condtion,numbers))
print(filter_list)

[4, 5]

In [ ]:
numbers = [1,2,3,4,5]
def filter_condtion(num):
     return num > 3 # True / False
filter_list = list(map(filter_condtion,numbers))
print(filter_list)

[False, False, False, True, True]

In [ ]:
def add(x,y):
  return x+ y
print(add(5,2))
sqr = lambda x : x * x
print(sqr(5))

7
25